body {
    background-color: #171717;
    color: #999;
    /*padding: 15px;*/
    padding: 5px;
    font-family: sans-serif;
}
a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

p{
    margin: 5px 0 0 0;
}

pre, code{
    background-color: #232222;
    padding: 3px;
    border-radius: 3px;
    line-height: 19px;
}

pre code{
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

#r_title {
    line-height: 100%;
    margin: 10px 0;
    margin-right: 10px;
    padding: 0;
    float: left;
}

blockquote {
    background: #121212;
    padding: 15px;
    border-radius: 5px;
}

.hide{
    display: none;
}

.pointer {
    cursor: pointer;
}

.divider {
    float:left;
    width: 100%;
    height: 0;
    clear: both;
}

#posts {
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 10px 0;
}

#posts .post {
    width: 100%;
    /*! max-width: 100%; */
    clear: both;
    overflow: hidden;
    /*padding: 15px;*/
    border: 1px solid #2a2a2a;
    background-color: #000;
    /*border-radius: 3px;*/
    float: left;
    box-sizing: border-box;
    min-height: 50px;
    /*margin: 5px 0;*/
}

#posts .post .post {
     margin: 20px;
     margin-top: 10px;
}

#posts .post:hover
{
    border-color: #ccc;
    background-color: #222;
}

#posts .comment {
    width: 100%;
    clear: both;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    /*background: #000;*/
    margin: 0;
    padding: 0;
    margin: 5px 0;
}

#posts .comment .content{
    border: 1px solid #2a2a2a;
    background-color: #000;
    clear: both;
    padding: 10px;
    box-sizing: border-box;
}

#posts .comment .user{
    margin-right: 5px;
    color: #525d7d;
    font-size: 13px;
    font-weight: bold;
}
#posts .comment .text{
    padding-right: 5px;
}

#posts .comment .rep_con {
    padding-left: 15px;
    /*border-left: 1px dashed #505050;*/
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    position: relative;
}

#posts .comment .rep_con.collapsed {
    padding: 8px;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 15px;
    font-weight: bold;
}

#posts .comment .rep_con .line {
    width: 12px;
    height: 100%;
    border-left: 1px solid #3f3f3f;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 3px;
}

#posts .comment .rep_con:hover > .line {
    /*border-color: #22314d;*/
    border-color: #445980;
}

#posts .comment .rep_con .line:hover  {
    border-color: #cb4141;
}

#posts .comment:hover > .content{
    background-color: #0f0f0f;
    border-color: #5f5f5f;
}

/*
#posts .comment:hover > .content ,
#posts .comment:hover > .rep_con {
    border-color: #484848;
    border-left-width: 4px;
}
#posts .comment:hover > .content{
    padding-left: 7px;
}
#posts .comment:hover > .rep_con{
    padding-left: 12px;
}
*/

#posts .comment .rep_con .comment{
    border-right: none;
    border-bottom: none;
}

#posts .post .thumbnail {
    float: left;
    max-width: 80px;
    box-sizing: border-box;
    border-right: 3px solid #000;
    margin-top: 0;
}
#posts .post .thumbnail.pointer:hover {
    border-color: red;
}

#posts .post .text{
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

#posts .post p {
    margin: 0;
    padding: 0;
}

#posts .post img {
    max-width: 100%;
    margin-top: 10px;
    max-height: 730px;
}

#posts .post .title {
    font-weight: bold;
}
#posts .post .title .subreddit_link {
    font-size: 12px;
    color: darkred;
    margin-left: 6px;
}
#posts .post .title .new_tab {
    margin-left: 6px;
    background: #202020;
    padding: 0 5px;
    border-radius: 3px;
}
#posts .post .title .new_tab:hover {
    background: #444141;
}

#posts .post a:hover {
    text-decoration: underline;
}

#posts .post .desc {
    margin-top: 5px;
    color: #777;
}

.load_btn {
    float: left;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #444;
    cursor: pointer;
}
.load_btn:hover{
    background-color: #444;
    color: #171717;
}
